window { background-color: rgba(15,15,15, 1); }

#clock { color: #f5e0dc; }

#body > box { padding: 50px; }
#body > box > box > label { color: #f5e0dc; }

entry {
  color: #f5e0dc;
  background: rgba(30, 30, 30, 0.8);
}
