* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: GoogleSans /*FontAwesome*/;
    font-size: 20px;
}

window#waybar {
    background-color: rgba(10, 48, 59, 0.5);
    color: #f1f1f1;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
}


button {
    border: none;
    border-radius: 25px;
}

button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0px 5px;
    background-color: rgba(20, 20, 20, 0.3);
    border: none;
    border-radius: 20px;
    border-color: rgba(20, 20, 20, 0.5);
    margin: 4px;
}

#workspaces button:hover {
    background: rgba(10, 48, 59, 0.6);
}

#workspaces button.urgent {
    background-color: rgba(152, 47, 43, 1);
}

#workspaces button.active {
    background-color: rgba(20, 20, 20, 0.6)
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #f1f1f1;
}

#clock,
#battery {
    padding: 0 10px;
    color: #f1f1f1;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 4px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgba(20, 20, 20, 0.6);
    border-radius: 10px;
    margin: 4px;
    margin-right: 4px;
}

#battery {
    background-color: rgba(20,20,20,0.6);/*rgba(43, 57, 100, 0.6);*/
    color: #ffffff;
    border-radius: 10px;
    margin: 4px;
}

#battery.charging, #battery.plugged {
    color: #f1f1f1;
    background-color: rgba(43,100,57,0.6);
}

#battery.warning {
    color: #f1f1f1;
    background-color: rgba(150, 67,63,0.6);
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: rgba(255,90,80,1);
    color: #f1f1f1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#backlight-slider trough {
    min-height: 5px;
    min-width: 120px;
    border-radius: 3px;
    border: none;
    background-color: rgba(20,20,20,0.5);/*rgba(10, 48, 59, 0.5);*/
}

#backlight-slider highlight {
    min-height: 5px;
    min-width: 10px;
    border: 1px solid rgba(20,20,20,0.1);
    border-radius: 3px;
    background-color: rgba(10, 98, 99, 1);
}

#network {
    background-color: rgba(20,20,20,0.6);/*rgba(10,48,59,0.8);*/
    border-radius: 10px;
    margin: 4px;
}

#network.disconnected {
    background-color: rgba(150, 67, 63, 0.6);
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}
